.card-dropdown {
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 5;
  background-color: white;
  border: 1px solid black;
  width: auto;
  height: 200px;
  // max-height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .card-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}

.empty-card {
  position: absolute;
  top: 50%;
  right: 32vw;
  z-index: 5;
}
